# DataFrames I

In [ ]:
import pandas as pd

## Methods and Attributes between Series and DataFrames
- A **DataFrame** is a 2-dimensional table consisting of rows and columns.
- Pandas uses a `NaN` designation for cells that have a missing value. It is short for "not a number". Most operations on `NaN` values will produce `NaN` values.
- Like with a **Series**, Pandas assigns an index position/label to each **DataFrame** row.
- The **DataFrame** and **Series** have common and exclusive methods/attributes.
- The `hasnans` attribute exists only a **Series**. The `columns` attribute exists only on a **DataFrame**.
- Some methods/attributes will return different types of data.
- The `info` method returns a summary of the pandas object.

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
nba.info()

In [ ]:
nba.columns

In [ ]:
nba.index

In [ ]:
type(nba)

## Differences between Shared Methods
- The `sum` method adds a **Series's** values.
- On a **DataFrame**, the `sum` method defaults to adding the values by traversing the index (row values).
- The `axis` parameter customizes the direction that we add across. Pass `"columns"` or `1` to add "across" the columns.

In [ ]:
revenue = pd.read_csv('revenue.csv', index_col='Date')
revenue

In [ ]:
revenue.sum(axis='index')

In [ ]:
revenue.sum('columns')

In [ ]:
revenue.sum('columns').sum()
type(revenue.sum('columns'))

## Select One Column from a DataFrame
- We can use attribute syntax (`df.column_name`) to select a column from a **DataFrame**. The syntax will not work if the column name has spaces.
- We can also use square bracket syntax (`df["column name"]`) which will work for any column name.
- Pandas extracts a column from a **DataFrame** as a **Series**.
- The **Series** is a view, so changes to the **Series** *will* affect the **DataFrame**.
- Pandas will display a warning if you mutate the **Series**. Use the `copy` method to create a duplicate.

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
teams = nba.Team
teams

In [ ]:
names = nba['Name']
names

In [ ]:
names.iloc[0] = 'Petar Koprinkov'

In [ ]:
nba

## Select Multiple Columns from a DataFrame
- Use square brackets with a list of names to extract multiple **DataFrame** columns.
- Pandas stores the result in a new **DataFrame** (a copy).

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
columns_to_extract = ['Name', 'Team']
name_and_team = nba[columns_to_extract]
name_and_team

## Add New Column to DataFrame
- Use square bracket extraction syntax with an equal sign to add a new **Series** to a **DataFrame**.
- The `insert` method allows us to insert an element at a specific column index.
- On the right-hand side, we can reference an existing **DataFrame** column and perform a broadcasting operation on it to create the new **Series**.

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
new_value=nba['Salary'].mul(2)
nba.insert(loc=7, column='Doubled Salary', value=new_value)
type(new_value)

In [ ]:
nba

## A Review of the value_counts Method
- The `value_counts` method counts the number of times that each unique value occurs in a **Series**.

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
nba['Position'].value_counts(ascending = False, normalize=True).mul(100)

## Drop Rows with Missing Values
- Pandas uses a `NaN` designation for cells that have a missing value.
- The `dropna` method deletes rows with missing values. Its default behavior is to remove a row if it has *any* missing values.
- Pass the `how` parameter an argument of "all" to delete rows where all the values are `NaN`.
- The `subset` parameters customizes/limits the columns that pandas will use to drop rows with missing values.

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
nba.dropna(how='all')

In [ ]:
nba.dropna(subset=['Position', 'Salary'])

## Fill in Missing Values with the fillna Method
- The `fillna` method replaces missing `NaN` values with its argument.
- The `fillna` method is available on both **DataFrames** and **Series**.
- An extracted **Series** is a view on the original **DataFrame**, but the `fillna` method returns a copy.

In [ ]:
nba = pd.read_csv('nba.csv').dropna(how='all')
nba

In [ ]:
nba['Salary'] = nba['Salary'].fillna(value=0)

In [ ]:
nba

In [ ]:
nba['College'] = nba['College'].fillna(value='Uknown')
nba

## The astype Method I
- The `astype` method converts a **Series's** values to a specified type.
- Pass in the specified type as either a string or the core Python data type.
- Pandas cannot convert `NaN` values to numeric types, so we need to eliminate/replace them before we perform the conversion.
- The `dtypes` attribute returns a **Series** with the **DataFrame's** columns and their types.

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
nba.dropna(how='all')

In [ ]:
nba['Salary'] = nba['Salary'].fillna(value=0)
nba

In [ ]:
nba['Salary'] = nba['Salary'].astype('int64')
nba

In [ ]:
nba['Weight'] = nba['Weight'].fillna(value=0)
nba

In [ ]:
nba['Weight'] = nba['Weight'].astype('int64')
nba

## The astype Method II
- The `category` type is ideal for columns with a limited number of unique values.
- The `nunique` method will return a **Series** with the number of unique values in each column.
- With categories, pandas does not create a separate value in memory for each "cell". Rather, the cells point to a single copy for each unique value.

In [ ]:
nba = pd.read_csv('nba.csv')
nba.info()

In [ ]:
nba['Position'] = nba.Position.astype('category')
nba.info()

In [ ]:
nba['Team'] = nba['Team'].astype('category')
nba.info()

## Sort a DataFrame with the sort_values Method I
- The `sort_values` method sorts a **DataFrame** by the values in one or more columns. The default sort is an ascending one (alphabetical for strings).
- The first parameter (`by`) expects the column(s) to sort by.
- If sorting by a single column, pass a string with its name.
- The `ascending` parameter customizes the sort order.
- The `na_position` parameter customizes where pandas places `NaN` values.

In [33]:
nba = pd.read_csv('nba.csv')
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
nba.sort_values(by='Name', ascending=True)

,Name,Team,Position,Height,Weight,College,Salary
122,A.J. Lawson,Dallas Mavericks,G,6-6,179.0,South Carolina,NaN
324,AJ Green,Milwaukee Bucks,G,6-5,190.0,Northern Iowa,1901769.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
141,Aaron Gordon,Denver Nuggets,F,6-8,235.0,Arizona,22266182.0
198,Aaron Holiday,Houston Rockets,G,6-0,185.0,UCLA,2346614.0
...,...,...,...,...,...,...,...
83,Zach LaVine,Chicago Bulls,G,6-5,200.0,UCLA,40064220.0
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0
370,Zion Williamson,New Orleans Pelicans,F,6-6,284.0,Duke,34005250.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
nba.sort_values(by='Salary', ascending=False, na_position='first')

,Name,Team,Position,Height,Weight,College,Salary
23,Blake Griffin,Boston Celtics,F,6-9,250.0,Oklahoma,NaN
26,Mfiondu Kabengele,Boston Celtics,C,6-10,250.0,Florida State,NaN
28,Svi Mykhailiuk,Boston Celtics,G-F,6-7,205.0,Kansas,NaN
35,Robert Williams III,Boston Celtics,C-F,6-9,237.0,Texas A&M,NaN
39,Nic Claxton,Brooklyn Nets,C,6-11,215.0,Georgia,NaN
...,...,...,...,...,...,...,...
572,Jared Butler,Washington Wizards,G,6-3,193.0,Baylor,559782.0
31,Jay Scrubb,Boston Celtics,G,6-5,220.0,John A. Logan,559782.0
22,JD Davison,Boston Celtics,G,6-1,195.0,Alabama,559782.0
555,Joey Hauser,Utah Jazz,F,6-9,230.0,Michigan State,559782.0
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0

## Sort a DataFrame with the sort_values Method II
- To sort by multiple columns, pass the `by` parameter a list of column names. Pandas will sort in the specified column order (first to last).
- Pass the `ascending` parameter a Boolean to sort all columns in a consistent order (all ascending or all descending).
- Pass `ascending` a list to customize the sort order *per* column. The `ascending` list length must match the `by` list.

## Sort a DataFrame by its Index
- The `sort_index` method sorts the **DataFrame** by its index positions/labels.

## Rank Values with the rank Method
- The `rank` method assigns a numeric ranking to each **Series** value.
- Pandas will assign the same rank to equal values and create a "gap" in the dataset for the ranks.