# DataFrames II: Filtering Data

In [ ]:
import pandas as pd

## This Module's Dataset + Memory Optimization
- The `pd.to_datetime` method converts a **Series** to hold datetime values.
- The `format` parameter informs pandas of the format that the times are stored in.
- We pass symbols designating the segments of the string. For example, %m means "month" and %d means day.
- The `dt` attribute reveals an object with many datetime-related attributes and methods.
- The `dt.time` attribute extracts only the time from each value in a datetime **Series**.
- Use the `astype` method to convert the values in a **Series** to another type.
- The `parse_dates` parameter of `read_csv` is an alternate way to parse strings as datetimes.

In [ ]:
employees = pd.read_csv('employees.csv')
employees.info()

In [ ]:
employees

In [ ]:
employees["Start Date"] = pd.to_datetime(employees["Start Date"], format="%m/%d/%Y")
employees.info()

In [ ]:
employees

In [ ]:
employees["Last Login Time"] = pd.to_datetime(employees["Last Login Time"], format="%H:%M %p").dt.time

In [ ]:
employees.info()

In [ ]:
employees

In [ ]:
employees['Gender'] = employees['Gender'].astype('category')

In [ ]:
employees.info()

In [ ]:
employees

In [ ]:
employees['Senior Management'] = employees['Senior Management'].astype(bool)

In [ ]:
employees

In [ ]:
employees['Senior Management'] = employees['Senior Management'].astype('category')

In [ ]:
employees.info()

In [ ]:
employees = pd.read_csv('employees.csv', parse_dates=['Start Date'], date_format='%m/%d/%Y')
employees

## Filter A DataFrame  Based On A Condition
- Pandas needs a **Series** of Booleans to perform a filter.
- Pass the Boolean Series inside square brackets after the **DataFrame**.
- We can generate a Boolean Series using a wide variety of operations (equality, inequality, less than, greater than, inclusion, etc)

In [ ]:
employees = pd.read_csv('employees.csv', parse_dates=['Start Date'], date_format='%m/%d/%Y')
employees['Last Login Time'] = pd.to_datetime(employees['Last Login Time'], format="%H:%M %p").dt.time
employees['Gender'] = employees['Gender'].astype('category')
employees['Senior Management'] = employees['Senior Management'].astype(bool)
employees['Senior Management'] = employees['Senior Management'].astype('category')
employees

In [ ]:
employees[employees['Gender'] == 'Male']

In [ ]:
employees[employees['Salary'] > 148_980]

In [ ]:
employees[employees['Start Date'] > '2016-05-01']

In [ ]:
import datetime as dt

In [ ]:
employees[employees['Last Login Time'] > dt.time(12, 5, 0)]

## Filter with More than One Condition (AND)
- Add the `&` operator in between two Boolean **Series** to filter by multiple conditions.
- We can assign the **Series** to variables to make the syntax more readable.

In [ ]:
employees = pd.read_csv('employees.csv', parse_dates=['Start Date'], date_format='%m/%d/%Y')
employees['Last Login Time'] = pd.to_datetime(employees['Last Login Time'], format="%H:%M %p").dt.time
employees['Gender'] = employees['Gender'].astype('category')
employees['Senior Management'] = employees['Senior Management'].astype(bool)
employees['Senior Management'] = employees['Senior Management'].astype('category')
employees

In [ ]:
male_employees = employees['Gender'] == 'Male'
high_salary = employees['Team'] == 'Finance'
employees[male_employees & high_salary]

In [ ]:
high_salary = employees['Salary'] > 130_000
early_start_date = employees['Start Date'] < '1981-01-01'
employees[high_salary & early_start_date]

## Filter with More than One Condition (OR)
- Use the `|` operator in between two Boolean **Series** to filter by *either* condition.

In [ ]:
employees = pd.read_csv('employees.csv', parse_dates=['Start Date'], date_format='%m/%d/%Y')
employees['Last Login Time'] = pd.to_datetime(employees['Last Login Time'], format="%H:%M %p").dt.time
employees['Gender'] = employees['Gender'].astype('category')
employees['Senior Management'] = employees['Senior Management'].astype(bool)
employees['Senior Management'] = employees['Senior Management'].astype('category')
employees

In [ ]:
Dennis_name = employees['First Name'] == 'Dennis'
finance_team = employees['Team'] == 'Finance'

In [ ]:
dennis_or_finance = employees[Dennis_name | finance_team]
dennis_or_finance

In [ ]:
marketing_team = employees['Team'] == 'Marketing'
early_date = employees['Start Date'] < '1981-01-01'
high_salary = employees['Salary'] > 149_000

In [ ]:
result = employees[high_salary | (early_date & marketing_team)]
result

## The isin Method
- The `isin` **Series** method accepts a collection object like a list, tuple, or **Series**.
- The method returns True for a row if its value is found in the collection.

In [ ]:
employees = pd.read_csv('employees.csv', parse_dates=['Start Date'], date_format='%m/%d/%Y')
employees['Last Login Time'] = pd.to_datetime(employees['Last Login Time'], format="%H:%M %p").dt.time
employees['Gender'] = employees['Gender'].astype('category')
employees['Senior Management'] = employees['Senior Management'].astype(bool)
employees['Senior Management'] = employees['Senior Management'].astype('category')
employees

In [ ]:
result = employees['Team'].isin(['Finance', 'Marketing', 'Legal'])

In [ ]:
employees[result]

## The isnull and notnull Methods
- The `isnull` method returns True for `NaN` values in a **Series**.
- The `notnull` method returns True for present values in a **Series**.

In [ ]:
employees = pd.read_csv('employees.csv', parse_dates=['Start Date'], date_format='%m/%d/%Y')
employees['Last Login Time'] = pd.to_datetime(employees['Last Login Time'], format="%H:%M %p").dt.time
employees['Gender'] = employees['Gender'].astype('category')
employees['Senior Management'] = employees['Senior Management'].astype(bool)
employees['Senior Management'] = employees['Senior Management'].astype('category')
employees

In [ ]:
employees['First Name'].isnull()
employees['Team'].notnull()
employees[employees['First Name'].isnull() & employees['Team'].notnull()]

## The between Method
- The `between` method returns True if a **Series** value is found within its range.

In [ ]:
employees = pd.read_csv('employees.csv', parse_dates=['Start Date'], date_format='%m/%d/%Y')
employees['Last Login Time'] = pd.to_datetime(employees['Last Login Time'], format="%H:%M %p").dt.time
employees['Gender'] = employees['Gender'].astype('category')
employees['Senior Management'] = employees['Senior Management'].astype(bool)
employees['Senior Management'] = employees['Senior Management'].astype('category')
employees

In [ ]:
employees[employees['Bonus %'].between(2, 10)]

In [ ]:
employees[employees['Start Date'].between('1990-01-01', '2000-02-01')]

In [ ]:
import datetime as dt

In [ ]:
employees[employees['Last Login Time'].between(dt.time(12, 0, 0), dt.time(14, 0, 0))]

## The duplicated Method
- The `duplicated` method returns True if a **Series** value is a duplicate.
- Pandas will mark one occurrence of a repeated value as a non-duplicate.
- Use the `keep` parameter to designate whether the first or last occurrence of a repeated value should be considered the "non-duplicate".
- Pass False to the `keep` parameter to mark all occurrences of repeated values as duplicates.
- Use the tilde symbol (`~`) to invert a **Series's** values. Trues will become Falses, and Falses will become trues.

In [ ]:
employees = pd.read_csv('employees.csv', parse_dates=['Start Date'], date_format='%m/%d/%Y')
employees['Last Login Time'] = pd.to_datetime(employees['Last Login Time'], format="%H:%M %p").dt.time
employees['Gender'] = employees['Gender'].astype('category')
employees['Senior Management'] = employees['Senior Management'].astype(bool)
employees['Senior Management'] = employees['Senior Management'].astype('category')
employees

In [ ]:
employees[employees['First Name'].duplicated(keep='first')]

In [ ]:
employees[employees['First Name'].duplicated(keep='last')]

In [ ]:
employees[~employees['First Name'].duplicated(keep=False)]

In [28]:
employees[~employees['Team'].duplicated(keep='first')]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,11:17:00,130590,11.858,False,Finance
4,Larry,Male,1998-01-24,04:47:00,101004,1.389,True,Client Services
5,Dennis,Male,1987-04-18,01:35:00,115163,10.125,False,Legal
6,Ruby,Female,1987-08-17,04:20:00,65476,10.012,True,Product
8,Angela,Female,2005-11-22,06:29:00,95570,18.523,True,Engineering
9,Frances,Female,2002-08-08,06:51:00,139852,7.524,True,Business Development
12,Brandon,Male,1980-12-01,01:08:00,112807,17.492,True,Human Resources
13,Gary,Male,2008-01-27,11:40:00,109831,5.831,False,Sales
40,Michael,Male,2008-10-10,11:25:00,99283,2.665,True,Distribution

## The drop_duplicates Method
- The `drop_duplicates` method deletes rows with duplicate values.
- By default, it will remove a row if *all* of its values are shared with another row.
- The `subset` parameter configures the columns to look for duplicate values within.
- Pass a list to `subset` parameter to look for duplicates across multiple columns.

## The unique and nunique Methods
- The `unique` method on a **Series** returns a collection of its unique values. The method does not exist on a **DataFrame**.
- The `nunique` method returns a *count* of the number of unique values in the **Series**/**DataFrame**.
- The `dropna` parameter configures whether to include or exclude missing (`NaN`) values.