# MultiIndex

In [2]:
import pandas as pd

## This Module's Dataset

In [21]:
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], date_format='%Y-%m-%d')
bigmac

           Date        Country  Price in US Dollars
0    2000-04-01      Argentina             2.500000
1    2000-04-01      Australia             1.541667
2    2000-04-01         Brazil             1.648045
3    2000-04-01         Canada             1.938776
4    2000-04-01    Switzerland             3.470588
...         ...            ...                  ...
1381 2020-07-01        Ukraine             2.174714
1382 2020-07-01        Uruguay             4.327418
1383 2020-07-01  United States             5.710000
1384 2020-07-01        Vietnam             2.847282
1385 2020-07-01   South Africa             1.859349

[1386 rows x 3 columns]

In [22]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 1386 non-null   datetime64[ns]
 1   Country              1386 non-null   object
 2   Price in US Dollars  1386 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 32.6+ KB

In [23]:
bigmac.dtypes

Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

In [26]:
bigmac.nunique()

Date                     33
Country                  57
Price in US Dollars    1350
dtype: int64

## Create a MultiIndex
- A **MultiIndex** is an index with multiple levels or layers.
- Pass the `set_index` method a list of colum names to create a multi-index **DataFrame**.
- The order of the list's values will determine the order of the levels.
- Alternatively, we can pass the `read_csv` function's `index_col` parameter a list of columns.

In [12]:
bigmac.set_index(keys=['Date', 'Country'])

                          Price in US Dollars
Date       Country
2000-04-01 Argentina                 2.500000
           Australia                 1.541667
           Brazil                    1.648045
           Canada                    1.938776
           Switzerland               3.470588
...                                       ...
2020-07-01 Ukraine                   2.174714
           Uruguay                   4.327418
           United States             5.710000
           Vietnam                   2.847282
           South Africa              1.859349

[1386 rows x 1 columns]

In [14]:
bigmac.set_index(keys=['Country', 'Date']).sort_index()

                      Price in US Dollars
Country   Date
Argentina 2000-04-01             2.500000
          2001-04-01             2.500000
          2002-04-01             0.798722
          2003-04-01             1.423611
          2004-05-01             1.477966
...                                   ...
Vietnam   2018-07-01             2.821242
          2019-01-01             2.801845
          2019-07-09             2.797985
          2020-01-14             2.847774
          2020-07-01             2.847282

[1386 rows x 1 columns]

In [16]:
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], date_format='%Y-%m-%d', index_col=['Date', 'Country']).sort_index()
bigmac

                                 Price in US Dollars
Date       Country
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]

## Extract Index Level Values
- The `get_level_values` method extracts an **Index** with the values from one level in the **MultiIndex**.
- Invoke the `get_level_values` on the **MultiIndex**, not the **DataFrame** itself.
- The method expects either the level's index position or its name.

In [27]:
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], date_format='%Y-%m-%d', index_col=['Date', 'Country']).sort_index()
bigmac

                                 Price in US Dollars
Date       Country
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]

In [28]:
bigmac.index

MultiIndex([('2000-04-01',            'Argentina'),
            ('2000-04-01',            'Australia'),
            ('2000-04-01',               'Brazil'),
            ('2000-04-01',              'Britain'),
            ('2000-04-01',               'Canada'),
            ('2000-04-01',                'Chile'),
            ('2000-04-01',                'China'),
            ('2000-04-01',       'Czech Republic'),
            ('2000-04-01',              'Denmark'),
            ('2000-04-01',            'Euro area'),
            ...
            ('2020-07-01',               'Sweden'),
            ('2020-07-01',          'Switzerland'),
            ('2020-07-01',               'Taiwan'),
            ('2020-07-01',             'Thailand'),
            ('2020-07-01',               'Turkey'),
            ('2020-07-01',              'Ukraine'),
            ('2020-07-01', 'United Arab Emirates'),
            ('2020-07-01',        'United States'),
            ('2020-07-01',              'Uruguay'),
            ('2020-07-01',              'Vietnam')],
           names=['Date', 'Country'], length=1386)

In [30]:
bigmac.index.get_level_values('Date')

DatetimeIndex(['2000-04-01', '2000-04-01', '2000-04-01', '2000-04-01',
               '2000-04-01', '2000-04-01', '2000-04-01', '2000-04-01',
               '2000-04-01', '2000-04-01',
               ...
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01'],
              dtype='datetime64[ns]', name='Date', length=1386, freq=None)

In [31]:
bigmac.index.get_level_values(0)

DatetimeIndex(['2000-04-01', '2000-04-01', '2000-04-01', '2000-04-01',
               '2000-04-01', '2000-04-01', '2000-04-01', '2000-04-01',
               '2000-04-01', '2000-04-01',
               ...
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01'],
              dtype='datetime64[ns]', name='Date', length=1386, freq=None)

In [32]:
bigmac.index.get_level_values('Country')

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Czech Republic', 'Denmark', 'Euro area',
       ...
       'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United States', 'Uruguay', 'Vietnam'],
      dtype='object', name='Country', length=1386)

In [33]:
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Czech Republic', 'Denmark', 'Euro area',
       ...
       'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United States', 'Uruguay', 'Vietnam'],
      dtype='object', name='Country', length=1386)

## Rename Index Levels
- Invoke the `set_names` method on the **MultiIndex** to change one or more level names.
- Use the `names` and `level` parameter to target a nested index at a given level.
- Alternatively, pass `names` a list of strings to overwrite *all* level names.
- The `set_names` method returns a copy, so replace the original index to alter the **DataFrame**.

In [34]:
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], date_format='%Y-%m-%d', index_col=['Date', 'Country']).sort_index()
bigmac

                                 Price in US Dollars
Date       Country
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]

In [36]:
bigmac.index.set_names(names='Time', level='Date')

MultiIndex([('2000-04-01',            'Argentina'),
            ('2000-04-01',            'Australia'),
            ('2000-04-01',               'Brazil'),
            ('2000-04-01',              'Britain'),
            ('2000-04-01',               'Canada'),
            ('2000-04-01',                'Chile'),
            ('2000-04-01',                'China'),
            ('2000-04-01',       'Czech Republic'),
            ('2000-04-01',              'Denmark'),
            ('2000-04-01',            'Euro area'),
            ...
            ('2020-07-01',               'Sweden'),
            ('2020-07-01',          'Switzerland'),
            ('2020-07-01',               'Taiwan'),
            ('2020-07-01',             'Thailand'),
            ('2020-07-01',               'Turkey'),
            ('2020-07-01',              'Ukraine'),
            ('2020-07-01', 'United Arab Emirates'),
            ('2020-07-01',        'United States'),
            ('2020-07-01',              'Uruguay'),
            ('2020-07-01',              'Vietnam')],
           names=['Time', 'Country'], length=1386)

In [37]:
bigmac

                                 Price in US Dollars
Date       Country
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]

In [38]:
bigmac.index.set_names(names=['Time', 'Location'])

MultiIndex([('2000-04-01',            'Argentina'),
            ('2000-04-01',            'Australia'),
            ('2000-04-01',               'Brazil'),
            ('2000-04-01',              'Britain'),
            ('2000-04-01',               'Canada'),
            ('2000-04-01',                'Chile'),
            ('2000-04-01',                'China'),
            ('2000-04-01',       'Czech Republic'),
            ('2000-04-01',              'Denmark'),
            ('2000-04-01',            'Euro area'),
            ...
            ('2020-07-01',               'Sweden'),
            ('2020-07-01',          'Switzerland'),
            ('2020-07-01',               'Taiwan'),
            ('2020-07-01',             'Thailand'),
            ('2020-07-01',               'Turkey'),
            ('2020-07-01',              'Ukraine'),
            ('2020-07-01', 'United Arab Emirates'),
            ('2020-07-01',        'United States'),
            ('2020-07-01',              'Uruguay'),
            ('2020-07-01',              'Vietnam')],
           names=['Time', 'Location'], length=1386)

In [39]:
bigmac

                                 Price in US Dollars
Date       Country
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]

In [40]:
bigmac.index = bigmac.index.set_names(names=['Time', 'Location'])

In [41]:
bigmac

                                 Price in US Dollars
Time       Location
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]

## The sort_index Method on a MultiIndex DataFrame
- Using the `sort_index` method, we can target all levels or specific levels of the **MultiIndex**.
- To apply a different sort order to different levels, pass a list of Booleans.

In [44]:
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], date_format='%Y-%m-%d' ,index_col=['Date', 'Country'])
bigmac

                          Price in US Dollars
Date       Country
2000-04-01 Argentina                 2.500000
           Australia                 1.541667
           Brazil                    1.648045
           Canada                    1.938776
           Switzerland               3.470588
...                                       ...
2020-07-01 Ukraine                   2.174714
           Uruguay                   4.327418
           United States             5.710000
           Vietnam                   2.847282
           South Africa              1.859349

[1386 rows x 1 columns]

In [45]:
bigmac.sort_index()

                                 Price in US Dollars
Date       Country
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]

In [46]:
bigmac.sort_index(ascending=False)

                                 Price in US Dollars
Date       Country
2020-07-01 Vietnam                          2.847282
           Uruguay                          4.327418
           United States                    5.710000
           United Arab Emirates             4.015846
           Ukraine                          2.174714
...                                              ...
2000-04-01 Canada                           1.938776
           Britain                          3.002000
           Brazil                           1.648045
           Australia                        1.541667
           Argentina                        2.500000

[1386 rows x 1 columns]

In [48]:
bigmac.sort_index(ascending=[False, True])

                          Price in US Dollars
Date       Country
2020-07-01 Argentina                 3.509232
           Australia                 4.578450
           Azerbaijan                2.324897
           Bahrain                   3.713035
           Brazil                    3.913528
...                                       ...
2000-04-01 Sweden                    2.714932
           Switzerland               3.470588
           Taiwan                    2.287582
           Thailand                  1.447368
           United States             2.510000

[1386 rows x 1 columns]

In [49]:
bigmac.sort_index(ascending=[True, False])

                          Price in US Dollars
Date       Country
2000-04-01 United States             2.510000
           Thailand                  1.447368
           Taiwan                    2.287582
           Switzerland               3.470588
           Sweden                    2.714932
...                                       ...
2020-07-01 Brazil                    3.913528
           Bahrain                   3.713035
           Azerbaijan                2.324897
           Australia                 4.578450
           Argentina                 3.509232

[1386 rows x 1 columns]

## Extract Rows from a MultiIndex DataFrame
- A **tuple** is an immutable list. It cannot be modified after creation.
- Create a tuple with a comma between elements. The community convention is to wrap the elements in parentheses.
- The `iloc` and `loc` accessors are available to extract rows by index position or label.
- For the `loc` accessor, pass a tuple to hold the labels from the index levels.

In [50]:
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country']).sort_index()
bigmac

                                 Price in US Dollars
Date       Country
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]

In [52]:
bigmac.iloc[0]

Price in US Dollars    2.5
Name: (2000-04-01 00:00:00, Argentina), dtype: float64

In [53]:
bigmac.iloc[1]

Price in US Dollars    1.541667
Name: (2000-04-01 00:00:00, Australia), dtype: float64

In [54]:
bigmac.iloc[69]

Price in US Dollars    2.505219
Name: (2002-04-01 00:00:00, Israel), dtype: float64

In [56]:
bigmac.loc['2000-04-01', 'Argentina']

Price in US Dollars    2.5
Name: (2000-04-01 00:00:00, Argentina), dtype: float64

In [69]:
bigmac.loc[('2000-04-01', 'Brazil')]
bigmac.loc['2000-04-01', 'Brazil']

Price in US Dollars    1.648045
Name: (2000-04-01 00:00:00, Brazil), dtype: float64

In [61]:
bigmac.loc[('2000-04-01', 'Argentina'): ('2000-04-01', 'Brazil')]

                      Price in US Dollars
Date       Country
2000-04-01 Argentina             2.500000
           Australia             1.541667
           Brazil                1.648045

In [62]:
bigmac.loc[('2000-04-01', 'Argentina'): ('2000-04-01', 'Brazil'), 'Price in US Dollars']

Date        Country
2000-04-01  Argentina    2.500000
            Australia    1.541667
            Brazil       1.648045
Name: Price in US Dollars, dtype: float64

In [63]:
bigmac.loc[: ('2000-04-01', 'Brazil')]

                      Price in US Dollars
Date       Country
2000-04-01 Argentina             2.500000
           Australia             1.541667
           Brazil                1.648045

In [65]:
bigmac.loc[('2020-04-01', 'Brazil'): ]

                                 Price in US Dollars
Date       Country
2020-07-01 Argentina                        3.509232
           Australia                        4.578450
           Azerbaijan                       2.324897
           Bahrain                          3.713035
           Brazil                           3.913528
           Britain                          4.277332
           Canada                           5.076741
           Chile                            3.478482
           China                            3.098451
           Colombia                         3.290010
           Costa Rica                       4.039015
           Croatia                          3.319652
           Czech Republic                   3.801242
           Denmark                          4.580607
           Egypt                            2.633229
           Euro area                        4.786138
           Guatemala                        3.249708
           Honduras                         3.523594
           Hong Kong                        2.644837
           Hungary                          2.890378
           India                            2.526680
           Indonesia                        2.355386
           Israel                           4.946606
           Japan                            3.635516
           Jordan                           3.244006
           Kuwait                           3.736192
           Lebanon                          5.952381
           Malaysia                         2.342047
           Mexico                           2.228561
           Moldova                          2.752562
           New Zealand                      4.348410
           Nicaragua                        3.490889
           Norway                           5.549005
           Oman                             2.857143
           Pakistan                         3.303303
           Peru                             3.402625
           Philippines                      2.872982
           Poland                           2.789436
           Qatar                            3.570448
           Romania                          2.323916
           Russia                           1.912588
           Saudi Arabia                     3.732288
           Singapore                        4.251946
           South Africa                     1.859349
           South Korea                      3.747034
           Sri Lanka                        3.658865
           Sweden                           5.755931
           Switzerland                      6.905710
           Taiwan                           2.444282
           Thailand                         4.078381
           Turkey                           2.039507
           Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

In [67]:
start = ('2000-04-01', 'Argentina')
end = ('2000-04-01', 'Brazil')
bigmac.loc[start:end]

                      Price in US Dollars
Date       Country
2000-04-01 Argentina             2.500000
           Australia             1.541667
           Brazil                1.648045

## The transpose Method
- The `transpose` method inverts/flips the horizontal and vertical axes of the **DataFrame**.

In [70]:
bigmac

                                 Price in US Dollars
Date       Country
2000-04-01 Argentina                        2.500000
           Australia                        1.541667
           Brazil                           1.648045
           Britain                          3.002000
           Canada                           1.938776
...                                              ...
2020-07-01 Ukraine                          2.174714
           United Arab Emirates             4.015846
           United States                    5.710000
           Uruguay                          4.327418
           Vietnam                          2.847282

[1386 rows x 1 columns]

In [76]:
start = ('2000-04-01', 'Argentina')
end = ('2002-04-01', 'Brazil')
bigmac.loc[start:end]

                           Price in US Dollars
Date       Country
2000-04-01 Argentina                  2.500000
           Australia                  1.541667
           Brazil                     1.648045
           Britain                    3.002000
           Canada                     1.938776
           Chile                      2.451362
           China                      1.195652
           Czech Republic             1.390537
           Denmark                    3.078358
           Euro area                  2.380800
           Hong Kong                  1.309371
           Hungary                    1.215054
           Indonesia                  1.825047
           Israel                     3.580247
           Japan                      2.773585
           Malaysia                   1.189474
           Mexico                     2.221041
           New Zealand                1.691542
           Poland                     1.279070
           Russia                     1.385965
           Singapore                  1.882353
           South Africa               1.339286
           South Korea                2.707581
           Sweden                     2.714932
           Switzerland                3.470588
           Taiwan                     2.287582
           Thailand                   1.447368
           United States              2.510000
2001-04-01 Argentina                  2.500000
           Australia                  1.515152
           Brazil                     1.643836
           Britain                    2.845700
           Canada                     2.134615
           Chile                      2.096506
           China                      1.195652
           Czech Republic             1.435897
           Denmark                    2.925532
           Euro area                  2.261600
           Hong Kong                  1.371795
           Hungary                    1.316832
           Indonesia                  1.354215
           Japan                      2.370968
           Malaysia                   1.189474
           Mexico                     2.357374
           New Zealand                1.457490
           Philippines                1.172962
           Poland                     1.464020
           Russia                     1.211073
           Singapore                  1.823204
           South Africa               1.193112
           South Korea                2.264151
           Sweden                     2.334630
           Switzerland                3.641618
           Taiwan                     2.127660
           Thailand                   1.208791
           United States              2.540000
2002-04-01 Argentina                  0.798722
           Australia                  1.612903
           Brazil                     1.538462

In [77]:
bigmac.loc[start:end].transpose()

Date                2000-04-01                                        \
Country              Argentina Australia    Brazil Britain    Canada
Price in US Dollars        2.5  1.541667  1.648045   3.002  1.938776

Date                                                                        \
Country                 Chile     China Czech Republic   Denmark Euro area
Price in US Dollars  2.451362  1.195652       1.390537  3.078358    2.3808

Date                 ...   2001-04-01                                   \
Country              ... South Africa South Korea   Sweden Switzerland
Price in US Dollars  ...     1.193112    2.264151  2.33463    3.641618

Date                                                 2002-04-01            \
Country               Taiwan  Thailand United States  Argentina Australia
Price in US Dollars  2.12766  1.208791          2.54   0.798722  1.612903

Date
Country                Brazil
Price in US Dollars  1.538462

[1 rows x 59 columns]

## The stack Method
- The `stack` method moves the column index to the row index.
- Pandas will return a **MultiIndex Series**.
- Think of it like "stacking" index levels for a **MultiIndex**.

## The unstack Method
- The `unstack` method moves a row index to the column index (the inverse of the `stack` method).
- By default, the `unstack` method will move the innermost index.
- We can customize the moved index with the `level` parameter.
- The `level` parameter accepts the level's index position or its name. It can also accept a list of positions/names.

## The pivot Method
- The `pivot` method reshapes data from a tall format to a wide format.
- Ask yourself which direction the data will expand in if you add more entries.
- A tall/long format expands down. A wide format expands out.
- The `index` parameter sets the horizontal index of the pivoted **DataFrame**.
- The `columns` parameter sets the column whose values will be the columns in the pivoted **DataFrame**.
- The `values` parameter set the values of the pivoted **DataFrame**. Pandas will populate the correct values based on the index and column intersections.

## The melt Method
- The `melt` method is the inverse of the `pivot` method.
- It takes a 'wide' dataset and converts it to a 'tall' dataset.
- The `melt` method is ideal when you have multiple columns storing the *same* data point.
- Ask yourself whether the column's values are a *type* of the column header. If they're not, the data is likely stored in a wide format.
- The `id_vars` parameters accepts the column whose values will be repeated for every column.
- The `var_name` parameter sets the name of the new column for the varying values (the former column names).
- The `value_name` parameter set the new name of the values column (holding the values from the original **DataFrame**).

## The pivot_table Method
- The `pivot_table` method operates similarly to the Pivot Table feature in Excel.
- A pivot table is a table whose values are aggregations of groups of values from another table.
- The `values` parameter accepts the numeric column whose values will be aggregated.
- The `aggfunc` parameter declares the aggregation function (the default is mean/average).
- The `index` parameter sets the index labels of the pivot table. MultiIndexes are permitted.
- The `columns` parameter sets the column labels of the pivot table. MultiIndexes are permitted.