# The GroupBy Object

In [1]:
import pandas as pd

## The Fortune 1000 Dataset
- The **Fortune 1000** is a listing of the 1000 largest American companies as ranked by Fortune magazine.
- The **DataFrame** includes the company's name, sector, industry, and revenues, profits, and employees.

In [10]:
fortune = pd.read_csv('fortune1000.csv', index_col=0)
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

## The groupby Method
- **Grouping** is a way to organize/categorize/group the data based on a column's values.
- The `groupby` method returns a **DataFrameGroupBy** object. It resembles a group/collection of **DataFrames** in a dictionary-like structure.
- The **DataFrameGroupBy** object can perform aggregate operations on *each* group within it.

In [11]:
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [14]:
sectors = fortune.groupby('Sector')

In [16]:
sectors.first()

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,96114,5176,161400
Apparel,Nike,Apparel,30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,19330,419,27000
Chemicals,Dow Chemical,Chemicals,48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,78756,7036,110000
Industrials,General Electric,Industrial Machinery,140389,-6126,333000
Materials,Alcoa,Metals,22534,-322,60000
Media,Disney,Entertainment,52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,152356,9687,215000
Retailing,Walmart,General Merchandisers,482130,14694,2300000
Technology,Apple,"Computers, Office Equipment",233715,53394,110000
Telecommunications,AT&T,Telecommunications,146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,48681,687,51700

In [17]:
sectors.last()

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,1923,-133,12000
Apparel,Guess,Apparel,2204,82,13500
Business Services,DeVry Education Group,Education,1910,140,11770
Chemicals,H.B. Fuller,Chemicals,2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,1896,161,21200
Household Products,Revlon,Household and Personal Products,1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,1895,46,5480
Materials,Schnitzer Steel Industries,Metals,1924,-197,2955
Media,Cenveo,"Publishing, Printing",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,1920,365,4178
Telecommunications,Equinix,Telecommunications,2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,1917,-12,1600

In [19]:
sectors

## Retrieve a Group with the get_group Method
- The `get_group` method on the **DataFrameGroupBy** object retrieves a nested **DataFrame** belonging to a specific group/category.

In [20]:
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [24]:
sectors.get_group('Energy')

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
14,Chevron,Energy,Petroleum Refining,131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,64566,2852,45440
...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646

In [25]:
sectors.get_group('Technology')

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
18,Amazon.com,Technology,Internet Services and Retailing,107006,596,230800
20,HP,Technology,"Computers, Office Equipment",103355,4554,287000
25,Microsoft,Technology,Computer Software,93580,12193,118000
31,IBM,Technology,Information Technology Services,82461,13190,411798
...,...,...,...,...,...,...
970,Rackspace Hosting,Technology,Internet Services and Retailing,2001,126,6189
971,VeriFone Systems,Technology,"Computers, Office Equipment",2001,79,5400
975,Super Micro Computer,Technology,"Computers, Office Equipment",1991,102,2285
984,Nuance Communications,Technology,Computer Software,1931,-115,13500
990,F5 Networks,Technology,Network and Other Communications Equipment,1920,365,4178

In [26]:
sectors.get_group('Health Care')

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,157107,5813,200000
12,AmerisourceBergen,Health Care,Wholesalers: Health Care,135962,-135,17000
21,Cardinal Health,Health Care,Wholesalers: Health Care,102531,1215,34500
22,Express Scripts Holding,Health Care,Health Care: Pharmacy and Other Services,101752,2476,25900
...,...,...,...,...,...,...
935,VCA,Health Care,Health Care: Medical Facilities,2134,211,12700
960,PharMerica,Health Care,Health Care: Pharmacy and Other Services,2029,35,5200
965,Bio-Rad Laboratories,Health Care,Medical Products and Equipment,2019,113,7770
977,Hill-Rom Holdings,Health Care,Medical Products and Equipment,1988,48,10000
978,Providence Service,Health Care,Health Care: Pharmacy and Other Services,1987,84,9072

## Methods on the GroupBy Object
- Use square brackets on the **DataFrameGroupBy** object to "extract" a column from the original **DataFrame**.
- The resulting **SeriesGroupBy** object will have aggregation methods available on it.
- Pandas will perform the calculation on *every* group within the collection.
- For example, the `sum` method will sum together the **Revenues** for every row by group/category.

In [34]:
fortune = pd.read_csv('fortune1000.csv', index_col=0)
fortune

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400
...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,1895,46,5480

In [36]:
sectors = fortune.groupby('Sector')
sectors

In [37]:
sectors['Revenue'].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [38]:
sectors['Profits'].mean()

Sector
Aerospace & Defense             1437.100000
Apparel                          549.066667
Business Services                553.470588
Chemicals                        754.266667
Energy                          -602.024590
Engineering & Construction       204.000000
Financials                      1872.007194
Food and Drug Stores            1117.266667
Food, Beverages & Tobacco       1195.744186
Health Care                     1414.853333
Hotels, Resturants & Leisure     827.880000
Household Products               515.285714
Industrials                      451.391304
Materials                        102.976744
Media                            973.880000
Motor Vehicles & Parts          1079.083333
Retailing                        597.875000
Technology                      1769.343137
Telecommunications              3242.466667
Transportation                  1226.916667
Wholesalers                      205.825000
Name: Profits, dtype: float64

In [39]:
sectors['Profits'].min()

Sector
Aerospace & Defense              -240
Apparel                            82
Business Services               -1481
Chemicals                        -816
Energy                         -23119
Engineering & Construction       -155
Financials                      -1194
Food and Drug Stores              -62
Food, Beverages & Tobacco        -253
Health Care                      -458
Hotels, Resturants & Leisure    -1394
Household Products              -1149
Industrials                     -6126
Materials                       -1642
Media                            -881
Motor Vehicles & Parts           -889
Retailing                       -1243
Technology                      -4359
Telecommunications               -271
Transportation                   -191
Wholesalers                      -502
Name: Profits, dtype: int64

In [40]:
sectors['Profits'].max()

Sector
Aerospace & Defense              7608
Apparel                          3273
Business Services                6328
Chemicals                        7685
Energy                          16150
Engineering & Construction        803
Financials                      24442
Food and Drug Stores             5237
Food, Beverages & Tobacco        7351
Health Care                     18108
Hotels, Resturants & Leisure     5920
Household Products               7036
Industrials                      4833
Materials                         991
Media                            8382
Motor Vehicles & Parts           9687
Retailing                       14694
Technology                      53394
Telecommunications              17879
Transportation                   7610
Wholesalers                      1472
Name: Profits, dtype: int64

In [43]:
sectors[['Revenue', 'Employees']].sum()

                              Revenue  Employees
Sector
Aerospace & Defense            357940     968057
Apparel                         95968     346397
Business Services              272195    1361050
Chemicals                      243897     463651
Energy                        1517809    1188927
Engineering & Construction     153983     406708
Financials                    2217159    3359948
Food and Drug Stores           483769    1395398
Food, Beverages & Tobacco      555967    1211632
Health Care                   1614707    2678289
Hotels, Resturants & Leisure   169546    2484245
Household Products             234737     646038
Industrials                    497581    1545229
Materials                      259145     638123
Media                          220764     550314
Motor Vehicles & Parts         482540    1082560
Retailing                     1465076    6227629
Technology                    1377600    3578949
Telecommunications             461834     832468
Transportation                 408508    1536793
Wholesalers                    444800     525597

## Grouping by Multiple Columns
- Pass a list of columns to the **groupby** method to group by pairings of values across columns.
- Target a column to retrieve the **SeriesGroupBy** object, then perform an aggregation with a method.
- Pandas will return a **MultiIndex** **Series** where the levels will be the original groups.

In [46]:
sectors = fortune.groupby(['Sector', 'Industry'])

In [53]:
sectors['Revenue'].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            357940
Apparel              Apparel                                           95968
Business Services    Advertising, marketing                            22748
                     Diversified Outsourcing Services                  64829
                     Education                                          7485
                                                                       ...
Transportation       Trucking, Truck Leasing                           35950
Wholesalers          Miscellaneous                                      8982
                     Wholesalers: Diversified                         176138
                     Wholesalers: Electronics and Office Equipment    147906
                     Wholesalers: Food and Grocery                    111774
Name: Revenue, Length: 79, dtype: int64

In [59]:
sectors.get_group(('Energy', 'Pipelines'))

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
65,Energy Transfer Equity,Energy,Pipelines,42126,1189,30078
104,Enterprise Products Partners,Energy,Pipelines,27028,2521,6800
121,Plains GP Holdings,Energy,Pipelines,23152,118,5400
198,Kinder Morgan,Energy,Pipelines,14403,253,11290
348,Oneok,Energy,Pipelines,7763,245,2364
387,Targa Resources,Energy,Pipelines,6659,58,1870
493,Spectra Energy,Energy,Pipelines,5234,196,6250
656,Buckeye Partners,Energy,Pipelines,3453,437,1765
859,Enable Midstream Partners,Energy,Pipelines,2418,-752,1640
908,Genesis Energy,Energy,Pipelines,2247,423,1400
924,Magellan Midstream Partners,Energy,Pipelines,2189,819,1640
948,NuStar Energy,Energy,Pipelines,2084,307,1644

In [60]:
sectors['Profits'].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            28742
Apparel              Apparel                                           8236
Business Services    Advertising, marketing                            1549
                     Diversified Outsourcing Services                  4305
                     Education                                           69
                                                                      ...
Transportation       Trucking, Truck Leasing                           1910
Wholesalers          Miscellaneous                                       17
                     Wholesalers: Diversified                          5193
                     Wholesalers: Electronics and Office Equipment     1857
                     Wholesalers: Food and Grocery                     1166
Name: Profits, Length: 79, dtype: int64

## The agg Method
- The `agg` method applies different aggregation methods on different columns.
- Invoke the `agg` method directly on the **DataFrameGroupBy** object.
- Pass the method a dictionary where the keys are the columns and the values are the aggregation operations.

In [63]:
sectors = fortune.groupby('Sector')

In [68]:
sectors.agg({'Profits': 'sum', 'Revenue': 'mean', 'Employees': 'max'})

                              Profits       Revenue  Employees
Sector
Aerospace & Defense             28742  17897.000000     197200
Apparel                          8236   6397.866667      65300
Business Services               28227   5337.156863     216500
Chemicals                       22628   8129.900000      52000
Energy                         -73447  12441.057377      75600
Engineering & Construction       5304   5922.423077      92000
Financials                     260209  15950.784173     331000
Food and Drug Stores            16759  32251.266667     431000
Food, Beverages & Tobacco       51417  12929.465116     263000
Health Care                    106114  21529.426667     203500
Hotels, Resturants & Leisure    20697   6781.840000     505000
Household Products              14428   8383.464286     110000
Industrials                     20764  10816.978261     333000
Materials                        4428   6026.627907      60000
Media                           24347   8830.560000     185000
Motor Vehicles & Parts          25898  20105.833333     215000
Retailing                       47830  18313.450000    2300000
Technology                     180473  13505.882353     411798
Telecommunications              48637  30788.933333     281450
Transportation                  44169  11347.444444     341240
Wholesalers                      8233  11120.000000      78500

## Iterating through Groups 
- The **DataFrameGroupBy** object supports the `apply` method (just like a **Series** and a **DataFrame** do).
- The `apply` method invokes a function on every nested **DataFrame** in the **DataFrameGroupBy** object.
- It captures the return values of the functions and collects them in a new **DataFrame** (the return value).

In [69]:
sectors

In [72]:
for name, df in sectors:
    print(name)
    print(df)

Aerospace & Defense
                            Company               Sector  \
Rank
24                           Boeing  Aerospace & Defense
45              United Technologies  Aerospace & Defense
60                  Lockheed Martin  Aerospace & Defense
88                 General Dynamics  Aerospace & Defense
118                Northrop Grumman  Aerospace & Defense
120                        Raytheon  Aerospace & Defense
209                         Textron  Aerospace & Defense
245              L-3 Communications  Aerospace & Defense
282             Precision Castparts  Aerospace & Defense
378   Huntington Ingalls Industries  Aerospace & Defense
389     Spirit AeroSystems Holdings  Aerospace & Defense
490                Rockwell Collins  Aerospace & Defense
560                     Orbital ATK  Aerospace & Defense
605                   Triumph Group  Aerospace & Defense
785                   B/E Aerospace  Aerospace & Defense
788                 TransDigm Group  Aerospace & Defense
836                            Moog  Aerospace & Defense
903                  Curtiss-Wright  Aerospace & Defense
958                        Woodward  Aerospace & Defense
987           Delta Tucker Holdings  Aerospace & Defense

                   Industry  Revenue  Profits  Employees
Rank
24    Aerospace and Defense    96114     5176     161400
45    Aerospace and Defense    61047     7608     197200
60    Aerospace and Defense    46132     3605     126000
88    Aerospace and Defense    31469     2965      99900
118   Aerospace and Defense    23526     1990      65000
120   Aerospace and Defense    23247     2074      61000
209   Aerospace and Defense    13423      697      35000
245   Aerospace and Defense    11554     -240      38000
282   Aerospace and Defense    10056     1530      30106
378   Aerospace and Defense     7020      404      35995
389   Aerospace and Defense     6644      789      15200
490   Aerospace and Defense     5262      686      19500
560   Aerospace and Defense     4369      159      12300
605   Aerospace and Defense     3889      239      15153
785   Aerospace and Defense     2730      286      10057
788   Aerospace and Defense     2707      447       8200
836   Aerospace and Defense     2526      132      10691
903   Aerospace and Defense     2264      146       8400
958   Aerospace and Defense     2038      182       6955
987   Aerospace and Defense     1923     -133      12000
Apparel
                   Company   Sector Industry  Revenue  Profits  Employees
Rank
91                    Nike  Apparel  Apparel    30601     3273      62600
231                     VF  Apparel  Apparel    12377     1232      64000
340                    PVH  Apparel  Apparel     8020      572      26200
354           Ralph Lauren  Apparel  Apparel     7620      702      20000
448            Hanesbrands  Apparel  Apparel     5732      429      65300
547           Levi Strauss  Apparel  Apparel     4495      209      12500
575                  Coach  Apparel  Apparel     4192      402      12950
597           Under Armour  Apparel  Apparel     3963      233       9600
683           Fossil Group  Apparel  Apparel     3229      221      15100
695        Skechers U.S.A.  Apparel  Apparel     3159      232       6400
726               Carter’s  Apparel  Apparel     3014      238      16800
794   Wolverine World Wide  Apparel  Apparel     2692      123       6550
877    G-III Apparel Group  Apparel  Apparel     2344      114       8919
882    Columbia Sportswear  Apparel  Apparel     2326      174       5978
917                  Guess  Apparel  Apparel     2204       82      13500
Business Services
                                     Company             Sector  \
Rank
144                            ManpowerGroup  Business Services
186                            Omnicom Group  Business Services
199                                  Aramark  Business Services
204                                     Visa  Business Services
221                         Waste Management  Business Services
248                                      ADP  Business Services
249                               First Data  Business Services
294                               MasterCard  Business Services
307                          PayPal Holdings  Business Services
312                        Republic Services  Business Services
355                        Interpublic Group  Business Services
392   Fidelity National Information Services  Business Services
404                    Alliance Data Systems  Business Services
440                           United Rentals  Business Services
467                           Kelly Services  Business Services
468                            Western Union  Business Services
481                               S&P Global  Business Services
485                           ABM Industries  Business Services
492                                   Fiserv  Business Services
503                Robert Half International  Business Services
545                                   Cintas  Business Services
626                            Towers Watson  Business Services
635                                      ADT  Business Services
652                                  Moody’s  Business Services
677                            Clean Harbors  Business Services
694                                   Vantiv  Business Services
714                                  Brink’s  Business Services
729                            Iron Mountain  Business Services
734              Service Corp. International  Business Services
735                               Stericycle  Business Services
737                          Graham Holdings  Business Services
744                                Convergys  Business Services
767                              DST Systems  Business Services
776                    Total System Services  Business Services
777                          Global Payments  Business Services
783                                  Paychex  Business Services
791                                 TrueBlue  Business Services
792           Broadridge Financial Solutions  Business Services
796                Heartland Payment Systems  Business Services
801                                  Equifax  Business Services
803                             TriNet Group  Business Services
816                                Insperity  Business Services
819            ServiceMaster Global Holdings  Business Services
820                   Apollo Education Group  Business Services
869                                     West  Business Services
870                           Public Storage  Business Services
886                               IHS Markit  Business Services
939                        Waste Connections  Business Services
951                            On Assignment  Business Services
952                         Verisk Analytics  Business Services
993                    DeVry Education Group  Business Services

                              Industry  Revenue  Profits  Employees
Rank
144                     Temporary Help    19330      419      27000
186             Advertising, marketing    15134     1094      74900
199   Diversified Outsourcing Services    14329      236     216500
204            Financial Data Services    13880     6328      11300
221                   Waste Management    12961      753      40600
248   Diversified Outsourcing Services    11477     1453      55000
249            Financial Data Services    11451    -1481      24000
294            Financial Data Services     9667     3808      11300
307            Financial Data Services     9248     1228      16800
312                   Waste Management     9115      750      33000
355             Advertising, marketing     7614      455      49200
392            Financial Data Services     6595      632      55000
404            Financial Data Services     6440      597      16000
440                      Miscellaneous     5817      585      12700
467                     Temporary Help     5518       54       8100
468            Financial Data Services     5484      838      10000
481            Financial Data Services     5313     1156      20400
485   Diversified Outsourcing Services     5291       76     120000
492            Financial Data Services     5254      712      22000
503                     Temporary Help     5095      358      16100
545   Diversified Outsourcing Services     4508      431      32000
626   Diversified Outsourcing Services     3645      385      16300
635   Diversified Outsourcing Services     3574      296      17100
652            Financial Data Services     3485      941      10400
677                   Waste Management     3275       44      12900
694            Financial Data Services     3160      148       3313
714   Diversified Outsourcing Services     3066      -12      59900
729   Diversified Outsourcing Services     3008      123      20000
734                      Miscellaneous     2986      234      19720
735                   Waste Management     2986      267      25472
737                          Education     2984     -101      11585
744   Diversified Outsourcing Services     2951      169     130000
767            Financial Data Services     2825      358      13420
776            Financial Data Services     2780      364      10500
777            Financial Data Services     2774      278       4438
783   Diversified Outsourcing Services     2740      675      13000
791                     Temporary Help     2696       71       5500
792            Financial Data Services     2694      287       7400
796            Financial Data Services     2682       85       4272
801            Financial Data Services     2664      429       8000
803   Diversified Outsourcing Services     2659       32       2500
816   Diversified Outsourcing Services     2604       39       2400
819   Diversified Outsourcing Services     2594      160      13000
820                          Education     2591       30      23400
869   Diversified Outsourcing Services     2383      242      10630
870                      Miscellaneous     2382     1311       5300
886            Financial Data Services     2314      240       8600
939                   Waste Management     2117      -96       7227
951                     Temporary Help     2077       98       3320
952            Financial Data Services     2068      508       7783
993                          Education     1910      140      11770
Chemicals
                                 Company     Sector   Industry  Revenue  \
Rank
56                          Dow Chemical  Chemicals  Chemicals    48778
101                               DuPont  Chemicals  Chemicals    27940
182                       PPG Industries  Chemicals  Chemicals    15330
189                             Monsanto  Chemicals  Chemicals    15001
206                               Ecolab  Chemicals  Chemicals    13545
253                     Sherwin-Williams  Chemicals  Chemicals    11339
262                              Praxair  Chemicals  Chemicals    10776
277                             Huntsman  Chemicals  Chemicals    10299
288             Air Products & Chemicals  Chemicals  Chemicals     9895
296                     Eastman Chemical  Chemicals  Chemicals     9648
316                               Mosaic  Chemicals  Chemicals     8895
538                    RPM International  Chemicals  Chemicals     4595
549                    Westlake Chemical  Chemicals  Chemicals     4463
555                              Valspar  Chemicals  Chemicals     4393
566               CF Industries Holdings  Chemicals  Chemicals     4308
580                               Hexion  Chemicals  Chemicals     4140
613                               Axiall  Chemicals  Chemicals     3787
624                            Albemarle  Chemicals  Chemicals     3651
654                                  FMC  Chemicals  Chemicals     3471
668                              PolyOne  Chemicals  Chemicals     3378
717                           W.R. Grace  Chemicals  Chemicals     3052
720   International Flavors & Fragrances  Chemicals  Chemicals     3023
724                   Scotts Miracle-Gro  Chemicals  Chemicals     3017
758                                Cabot  Chemicals  Chemicals     2871
761                                 Olin  Chemicals  Chemicals     2854
829          Platform Specialty Products  Chemicals  Chemicals     2542
865                          A. Schulman  Chemicals  Chemicals     2392
898                         MPM Holdings  Chemicals  Chemicals     2289
934                            NewMarket  Chemicals  Chemicals     2141
949                          H.B. Fuller  Chemicals  Chemicals     2084

      Profits  Employees
Rank
56       7685      49495
101      1953      52000
182      1406      46600
189      2314      24000
206      1002      47145
253      1054      40706
262      1547      26657
277        93      15000
288      1278      19550
296       848      15000
316      1000       8900
538       240      12864
549       646       4225
555       400      11130
566       700       2850
580       -40       5100
613      -816       5830
624       335       6963
654       489       6000
668       145       6900
717       144       6700
720       419       6732
724       160       7900
758      -334       4600
761        -1       6200
829      -309       8200
865        27       5000
898       -83       5000
934       239       1979
949        87       4425
Energy
                        Company  Sector                      Industry  \
Rank
2                   Exxon Mobil  Energy            Petroleum Refining
14                      Chevron  Energy            Petroleum Refining
30                  Phillips 66  Energy            Petroleum Refining
32                Valero Energy  Energy            Petroleum Refining
42           Marathon Petroleum  Energy            Petroleum Refining
...                         ...     ...                           ...
981                  WPX Energy  Energy  Mining, Crude-Oil Production
983    Adams Resources & Energy  Energy            Petroleum Refining
995                   EP Energy  Energy  Mining, Crude-Oil Production
997   Portland General Electric  Energy   Utilities: Gas and Electric
997   Portland General Electric  Energy   Utilities: Gas and Electric

      Revenue  Profits  Employees
Rank
2      246204    16150      75600
14     131118     4587      61500
30      87169     4227      14000
32      81824     3990      10103
42      64566     2852      45440
...       ...      ...        ...
981      1958    -1727       1040
983      1944       -1        809
995      1908    -3748        665
997      1898      172       2646
997      1898      172       2646

[122 rows x 6 columns]
Engineering & Construction
                       Company                      Sector  \
Rank
155                      Fluor  Engineering & Construction
156                      AECOM  Engineering & Construction
235   Jacobs Engineering Group  Engineering & Construction
260                D.R. Horton  Engineering & Construction
301                     Lennar  Engineering & Construction
314         Peter Kiewit Sons’  Engineering & Construction
352            Quanta Services  Engineering & Construction
381                EMCOR Group  Engineering & Construction
433                 PulteGroup  Engineering & Construction
478                  CH2M Hill  Engineering & Construction
498                        NVR  Engineering & Construction
501                        KBR  Engineering & Construction
516               Tutor Perini  Engineering & Construction
572                     MasTec  Engineering & Construction
576              Toll Brothers  Engineering & Construction
640          CalAtlantic Group  Engineering & Construction
719                    KB Home  Engineering & Construction
738       Taylor Morrison Home  Engineering & Construction
822             Meritage Homes  Engineering & Construction
863           TRI Pointe Group  Engineering & Construction
874       Granite Construction  Engineering & Construction
892                 Tetra Tech  Engineering & Construction
929      Hovnanian Enterprises  Engineering & Construction
963           Dycom Industries  Engineering & Construction
985          Primoris Services  Engineering & Construction
994               MDC Holdings  Engineering & Construction

                       Industry  Revenue  Profits  Employees
Rank
155   Engineering, Construction    18114      413      38758
156   Engineering, Construction    17990     -155      92000
235   Engineering, Construction    12115      303      56950
260                Homebuilders    10824      751       6230
301                Homebuilders     9474      803       7749
314   Engineering, Construction     8992      251      22000
352   Engineering, Construction     7632      311      24500
381   Engineering, Construction     6723      172      29000
433                Homebuilders     5982      494       4542
478   Engineering, Construction     5362       80      22000
498                Homebuilders     5170      383       4300
501   Engineering, Construction     5096      203      22000
516   Engineering, Construction     4921       45      10626
572   Engineering, Construction     4208      -79      15900
576                Homebuilders     4171      363       3900
640                Homebuilders     3540      214       2855
719                Homebuilders     3032       85       1680
738                Homebuilders     2977       61       1600
822                Homebuilders     2580      129       1409
863                Homebuilders     2401      206       1036
874   Engineering, Construction     2371       61       3200
892   Engineering, Construction     2299       39      13000
929                Homebuilders     2149      -16       2078
963   Engineering, Construction     2022       84      11159
985   Engineering, Construction     1929       37       7011
994                Homebuilders     1909       66       1225
Financials
                           Company      Sector  \
Rank
4               Berkshire Hathaway  Financials
16                      Fannie Mae  Financials
23               J.P. Morgan Chase  Financials
26           Bank of America Corp.  Financials
27                     Wells Fargo  Financials
...                            ...         ...
938                        Popular  Financials
959   Stewart Information Services  Financials
976            First Republic Bank  Financials
988   Hospitality Properties Trust  Financials
996     New York Community Bancorp  Financials

                                      Industry  Revenue  Profits  Employees
Rank
4     Insurance: Property and Casualty (Stock)   210821    24083     331000
16                      Diversified Financials   110359    10954       7300
23                            Commercial Banks   101006    24442     234598
26                            Commercial Banks    93056    15888     213280
27                            Commercial Banks    90033    22894     264700
...                                        ...      ...      ...        ...
938                           Commercial Banks     2123      895       7810
959   Insurance: Property and Casualty (Stock)     2034       -6       6900
976                           Commercial Banks     1989      522       3130
988                                Real estate     1922      166        400
996                           Commercial Banks     1902      -47       3448

[139 rows x 6 columns]
Food and Drug Stores
                       Company                Sector              Industry  \
Rank
7                   CVS Health  Food and Drug Stores  Food and Drug Stores
17                      Kroger  Food and Drug Stores  Food and Drug Stores
19    Walgreens Boots Alliance  Food and Drug Stores  Food and Drug Stores

In [74]:
def find_two_highest_profits(df):
    return df.nlargest(2,'Profits')
sectors.apply(find_two_highest_profits)

C:\Users\Копринков\AppData\Local\Temp\ipykernel_2680\1267232991.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sectors.apply(find_two_highest_profits)

                                                       Company  \
Sector                       Rank
Aerospace & Defense          45            United Technologies
                             24                         Boeing
Apparel                      91                           Nike
                             231                            VF
Business Services            204                          Visa
                             294                    MasterCard
Chemicals                    56                   Dow Chemical
                             189                      Monsanto
Energy                       2                     Exxon Mobil
                             14                        Chevron
Engineering & Construction   301                        Lennar
                             260                   D.R. Horton
Financials                   23              J.P. Morgan Chase
                             4              Berkshire Hathaway
Food and Drug Stores         7                      CVS Health
                             19       Walgreens Boots Alliance
Food, Beverages & Tobacco    62                      Coca-Cola
                             94         Mondelez International
Health Care                  86                Gilead Sciences
                             39              Johnson & Johnson
Hotels, Resturants & Leisure 534         Caesars Entertainment
                             109                    McDonald’s
Household Products           34               Procter & Gamble
                             174             Colgate-Palmolive
Industrials                  93                             3M
                             75        Honeywell International
Materials                    616                           USG
                             127           International Paper
Media                        53                         Disney
                             96       Twenty-First Century Fox
Motor Vehicles & Parts       8                  General Motors
                             9                      Ford Motor
Retailing                    1                         Walmart
                             28                     Home Depot
Technology                   3                           Apple
                             36                       Alphabet
Telecommunications           13                        Verizon
                             10                           AT&T
Transportation               67        American Airlines Group
                             80    United Continental Holdings
Wholesalers                  320            HD Supply Holdings
                             285                 W.W. Grainger

                                                         Sector  \
Sector                       Rank
Aerospace & Defense          45             Aerospace & Defense
                             24             Aerospace & Defense
Apparel                      91                         Apparel
                             231                        Apparel
Business Services            204              Business Services
                             294              Business Services
Chemicals                    56                       Chemicals
                             189                      Chemicals
Energy                       2                           Energy
                             14                          Energy
Engineering & Construction   301     Engineering & Construction
                             260     Engineering & Construction
Financials                   23                      Financials
                             4                       Financials
Food and Drug Stores         7             Food and Drug Stores
                             19            Food and Drug Stores
Food, Beverages & Tobacco    62       Food, Beverages & Tobacco
                             94       Food, Beverages & Tobacco
Health Care                  86                     Health Care
                             39                     Health Care
Hotels, Resturants & Leisure 534   Hotels, Resturants & Leisure
                             109   Hotels, Resturants & Leisure
Household Products           34              Household Products
                             174             Household Products
Industrials                  93                     Industrials
                             75                     Industrials
Materials                    616                      Materials
                             127                      Materials
Media                        53                           Media
                             96                           Media
Motor Vehicles & Parts       8           Motor Vehicles & Parts
                             9           Motor Vehicles & Parts
Retailing                    1                        Retailing
                             28                       Retailing
Technology                   3                       Technology
                             36                      Technology
Telecommunications           13              Telecommunications
                             10              Telecommunications
Transportation               67                  Transportation
                             80                  Transportation
Wholesalers                  320                    Wholesalers
                             285                    Wholesalers

                                                                   Industry  \
Sector                       Rank
Aerospace & Defense          45                       Aerospace and Defense
                             24                       Aerospace and Defense
Apparel                      91                                     Apparel
                             231                                    Apparel
Business Services            204                    Financial Data Services
                             294                    Financial Data Services
Chemicals                    56                                   Chemicals
                             189                                  Chemicals
Energy                       2                           Petroleum Refining
                             14                          Petroleum Refining
Engineering & Construction   301                               Homebuilders
                             260                               Homebuilders
Financials                   23                            Commercial Banks
                             4     Insurance: Property and Casualty (Stock)
Food and Drug Stores         7                         Food and Drug Stores
                             19                        Food and Drug Stores
Food, Beverages & Tobacco    62                                   Beverages
                             94                      Food Consumer Products
Health Care                  86                             Pharmaceuticals
                             39                             Pharmaceuticals
Hotels, Resturants & Leisure 534                   Hotels, Casinos, Resorts
                             109                              Food Services
Household Products           34             Household and Personal Products
                             174            Household and Personal Products
Industrials                  93                               Miscellaneous
                             75              Electronics, Electrical Equip.
Materials                    616                  Building Materials, Glass
                             127                      Packaging, Containers
Media                        53                               Entertainment
                             96                               Entertainment
Motor Vehicles & Parts       8                     Motor Vehicles and Parts
                             9                     Motor Vehicles and Parts
Retailing                    1                        General Merchandisers
                             28                  Specialty Retailers: Other
Technology                   3                  Computers, Office Equipment
                             36             Internet Services and Retailing
Telecommunications           13                          Telecommunications
                             10                          Telecommunications
Transportation               67                                    Airlines
                             80                                    Airlines
Wholesalers                  320                   Wholesalers: Diversified
                             285                   Wholesalers: Diversified

                                   Revenue  Profits  Employees
Sector                       Rank
Aerospace & Defense          45      61047     7608     197200
                             24      96114     5176     161400
Apparel                      91      30601     3273      62600
                             231     12377     1232      64000
Business Services            204     13880     6328      11300
                             294      9667     3808      11300
Chemicals                    56      48778     7685      49495
                             189     15001     2314      24000
Energy                       2      246204    16150      75600
                             14     131118     4587      61500
Engineering & Construction   301      9474      803       7749
                             260     10824      751       6230
Financials                   23     101006    24442     234598
                             4      210821    24083     331000
Food and Drug Stores         7      153290     5237     199000
                             19     103444     4220     302500
Food, Beverages & Tobacco    62      44294     7351     123200
                             94      29636     7267      99000
Health Care                  86      32639    18108       8000
                             39      70074    15409     127100
Hotels, Resturants & Leisure 534      4654     5920      33000
                             109     25413     4529     420000
Household Products           34      78756     7036     110000
                             174     16034     1384      37900
Industrials                  93      30274     4833      89446
                             75      38581     4768     129000
Materials                    616      3776      991       8900
                             127     22365      938      56000
Media                        53      52465     8382     185000
                             96      28987     8306      20500
Motor Vehicles & Parts       8      152356     9687     215000
                             9      149558     7373     199000
Retailing                    1      482130    14694    2300000
                             28      88519     7009     385000
Technology                   3      233715    53394     110000
                             36      74989    16348      61814
Telecommunications           13     131620    17879     177700
                             10     146801    13345     281450
Transportation               67      40990     7610     118500
                             80      37864     7340      84000
Wholesalers                  320      8779     1472      14000
                             285      9973      769      25100

In [75]:
def find_three_highest_employees_count(df):
    return df.nlargest(3, 'Employees')

sectors.apply(find_three_highest_employees_count)

C:\Users\Копринков\AppData\Local\Temp\ipykernel_2680\1375442294.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sectors.apply(find_three_highest_employees_count)

                                          Company               Sector  \
Sector              Rank
Aerospace & Defense 45        United Technologies  Aerospace & Defense
                    24                     Boeing  Aerospace & Defense
                    60            Lockheed Martin  Aerospace & Defense
Apparel             448               Hanesbrands              Apparel
                    231                        VF              Apparel
...                                           ...                  ...
Transportation      58                      FedEx       Transportation
                    67    American Airlines Group       Transportation
Wholesalers         212                    Synnex          Wholesalers
                    57                      Sysco          Wholesalers
                    183             Genuine Parts          Wholesalers

                                                               Industry  \
Sector              Rank
Aerospace & Defense 45                            Aerospace and Defense
                    24                            Aerospace and Defense
                    60                            Aerospace and Defense
Apparel             448                                         Apparel
                    231                                         Apparel
...                                                                 ...
Transportation      58              Mail, Package, and Freight Delivery
                    67                                         Airlines
Wholesalers         212   Wholesalers: Electronics and Office Equipment
                    57                    Wholesalers: Food and Grocery
                    183                        Wholesalers: Diversified

                          Revenue  Profits  Employees
Sector              Rank
Aerospace & Defense 45      61047     7608     197200
                    24      96114     5176     161400
                    60      46132     3605     126000
Apparel             448      5732      429      65300
                    231     12377     1232      64000
...                           ...      ...        ...
Transportation      58      47453     1050     323035
                    67      40990     7610     118500
Wholesalers         212     13338      209      78500
                    57      48681      687      51700
                    183     15280      706      39600

[63 rows x 6 columns]