# Working with Dates and Times

In [ ]:
import pandas as pd

## Review of Python's datetime Module
- The `datetime` module is built into the core Python programming language.
- The common alias for the `datetime` module is `dt`.
- A module is a Python source file; think of like an internal library that Python loads on demand.
- The `datetime` module includes `date` and `datetime` classes for representing dates and datetimes.
- The `date` constructor accepts arguments for year, month, and day. Python defaults to 0 for any missing values.
- The `datetime` constructor accepts arguments for year, month, day, hour, minute, and second.

In [ ]:
import datetime as dt

In [ ]:
now = dt.datetime.today()
print(now)

In [ ]:
date = dt.date(2025, 1, 6)

In [ ]:
date.year

In [ ]:
date.month

In [ ]:
date.day

In [ ]:
other_date = dt.datetime(2025, 1, 6, 18, 30, 0)
other_date.year

In [ ]:
other_date.month

In [ ]:
other_date.second

In [ ]:
other_date.hour

## The Timestamp and DatetimeIndex Objects

- Pandas ships with several classes related to datetimes.
- The **Timestamp** is similar to Python's **datetime** object (but with expanded functionality).
- A **DatetimeIndex** is an index of **Timestamp** objects.
- The **Timestamp** constructor accepts a string, a **datetime** object, or equivalent arguments to the **datetime** clas.

In [ ]:
date = pd.Timestamp(2025, 1, 6, 18, 30, 0)

In [ ]:
date.second

In [ ]:
date.minute

In [ ]:
date.hour

In [ ]:
date = pd.Timestamp('2025-01-06 18:30:33')

In [ ]:
print(date)

In [ ]:
date.second

## Create Range of Dates with pd.date_range Function
- The `date_range` function generates and returns a **DatetimeIndex** holding a sequence of dates.
- The function requires 2 of the 3 following parameters: `start`, `end`, and `period`.
- With `start` and `end`, Pandas will assume a daily period/interval.
- Every element within a **DatetimeIndex** is a **Timestamp**.

In [ ]:
pd.date_range(start='2025-01-05', end='2025-02-05', freq='D')

In [ ]:
pd.date_range(start='2025-01-05', end='2025-02-05', freq='B')

In [ ]:
pd.date_range(start='2025-01-05', end='2025-02-05', freq='2d')

In [ ]:
pd.date_range(start='2025-01-05', end='2025-02-05', freq='W-FRI')

In [ ]:
pd.date_range(start='2025-01-05', freq='W', periods=10)

In [ ]:
pd.date_range(end='2025-01-05', freq='W', periods=10)

In [ ]:
pd.date_range(start='2025-01-05', freq='YE', periods=10)

In [ ]:
pd.date_range(start='2000-02-29', freq='W', periods=10)

In [ ]:
pd.date_range(start='2000-02-29', freq='YE', periods=10)

In [ ]:
pd.date_range(start='2000-02-29', end='2050-02-28', freq='24D 8h 20min 45s')

## The dt Attribute
- The `dt` attribute reveals a `DatetimeProperties` object with attributes/methods for working with datetimes. It is similar to the `str` attribute for string methods.
- The `DatetimeProperties` object has attributes like `day`, `month`, and `year` to reveal information about each date in the **Series**.
- The `day_name` method returns the written day of the week.
- Attributes like `is_month_end` and `is_quarter_start` return Boolean **Series**.

In [ ]:
bunch_of_weeks = pd.Series(pd.date_range(start='2000-01-01', end='2025-01-01', freq='2D'))
bunch_of_weeks

In [ ]:
bunch_of_weeks.dt.day

In [ ]:
bunch_of_weeks.dt.year

In [ ]:
bunch_of_weeks.dt.hour

In [ ]:
bunch_of_weeks.dt.day_name()

In [ ]:
bunch_of_weeks.dt.weekday

In [ ]:
bunch_of_weeks.dt.hour

## Selecting Rows from a DataFrame with a DateTimeIndex
- The `iloc` accessor is available for index position-based extraction.
- The `loc` accessor accepts strings or **Timestamps** to extract by index label/value. Note that Python's `datetime` objects will not work.
- Use list slicing to extract a sequence of dates. The `truncate` method is another alternative.

In [ ]:
stock = pd.read_csv('ibm.csv', parse_dates=['Date'], index_col='Date').sort_index()
stock

In [ ]:
stock.iloc[0]

In [ ]:
stock.loc['2023-10-11']

In [ ]:
stock.loc['2020-10-11': '2023-10-11', 'Open': 'Close']

In [ ]:
stock.loc['1999-10-11', 'Open': 'Close']

## The DateOffset Object
- A **DateOffset** object adds time to a **Timestamp** to arrive at a new **Timestamp**.
- The **DateOffset** constructor accepts `days`, `weeks`, `months`, `years` parameters, and more.
- We can pass a **DateOffset** object to the `freq` parameter of the `pd.date_range` function.

In [ ]:
stocks = pd.read_csv('ibm.csv', parse_dates=['Date'], index_col='Date').sort_index()
stock

In [ ]:
stock.index + pd.DateOffset(years=1)

In [ ]:
stock.index + pd.DateOffset(years=3, months=1, days=1, hours=1, minutes=10, seconds=19)

In [ ]:
stock

In [ ]:
pd.date_range(start='2000-02-20', end='2023-02-20', freq=pd.DateOffset(years=1))

In [ ]:
stock.index - pd.DateOffset(years=1)

## Specialized Date Offsets
- Pandas nests more specialized date offsets in `pd.tseries.offsets`.
- We can add a different amount of time to each date (for example, month end, quarter end, year begin)

In [27]:
stocks = pd.read_csv('ibm.csv', parse_dates=['Date'], index_col='Date').sort_index()
stock

                 Open       High        Low      Close        Volume
Date
1962-01-02    5.04610    5.04610    4.98716    4.98716  5.935630e+05
1962-01-03    4.98716    5.03292    4.98716    5.03292  4.451750e+05
1962-01-04    5.03292    5.03292    4.98052    4.98052  3.995136e+05
1962-01-05    4.97389    4.97389    4.87511    4.88166  5.593215e+05
1962-01-08    4.88166    4.88166    4.75059    4.78972  8.332738e+05
...               ...        ...        ...        ...           ...
2023-10-05  140.90000  141.70000  140.19000  141.52000  3.223910e+06
2023-10-06  141.40000  142.94000  140.11000  142.03000  3.511347e+06
2023-10-09  142.30000  142.40000  140.68000  142.20000  2.354396e+06
2023-10-10  142.60000  143.41500  141.72000  142.11000  3.015784e+06
2023-10-11  142.51000  143.34000  142.14000  143.23000  2.511459e+06

[15546 rows x 5 columns]

In [28]:
stock.index

DatetimeIndex(['1962-01-02', '1962-01-03', '1962-01-04', '1962-01-05',
               '1962-01-08', '1962-01-09', '1962-01-10', '1962-01-11',
               '1962-01-12', '1962-01-15',
               ...
               '2023-09-28', '2023-09-29', '2023-10-02', '2023-10-03',
               '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-09',
               '2023-10-10', '2023-10-11'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [30]:
stock.index + pd.tseries.offsets.YearBegin()

DatetimeIndex(['1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01',
               ...
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [31]:
stock.index + pd.tseries.offsets.YearEnd()

DatetimeIndex(['1962-12-31', '1962-12-31', '1962-12-31', '1962-12-31',
               '1962-12-31', '1962-12-31', '1962-12-31', '1962-12-31',
               '1962-12-31', '1962-12-31',
               ...
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [33]:
stock.index + pd.tseries.offsets.YearBegin(10)

DatetimeIndex(['1972-01-01', '1972-01-01', '1972-01-01', '1972-01-01',
               '1972-01-01', '1972-01-01', '1972-01-01', '1972-01-01',
               '1972-01-01', '1972-01-01',
               ...
               '2033-01-01', '2033-01-01', '2033-01-01', '2033-01-01',
               '2033-01-01', '2033-01-01', '2033-01-01', '2033-01-01',
               '2033-01-01', '2033-01-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [35]:
stock.index + pd.tseries.offsets.QuarterEnd()

DatetimeIndex(['1962-03-31', '1962-03-31', '1962-03-31', '1962-03-31',
               '1962-03-31', '1962-03-31', '1962-03-31', '1962-03-31',
               '1962-03-31', '1962-03-31',
               ...
               '2023-09-30', '2023-09-30', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [39]:
stock.index + pd.tseries.offsets.QuarterBegin()

DatetimeIndex(['1962-03-01', '1962-03-01', '1962-03-01', '1962-03-01',
               '1962-03-01', '1962-03-01', '1962-03-01', '1962-03-01',
               '1962-03-01', '1962-03-01',
               ...
               '2023-12-01', '2023-12-01', '2023-12-01', '2023-12-01',
               '2023-12-01', '2023-12-01', '2023-12-01', '2023-12-01',
               '2023-12-01', '2023-12-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

## Timedeltas
- A **Timedelta** is a pandas object that represents a duration (an amount of time).
- Subtracting two **Timestamp** objects will yield a **Timedelta** object (this applies to subtracting a **Series** from another **Series**).
- The **Timedelta** constructor accepts parameters for time as well as string descriptions.