# Working with Dates and Times

In [ ]:
import pandas as pd

## Review of Python's datetime Module
- The `datetime` module is built into the core Python programming language.
- The common alias for the `datetime` module is `dt`.
- A module is a Python source file; think of like an internal library that Python loads on demand.
- The `datetime` module includes `date` and `datetime` classes for representing dates and datetimes.
- The `date` constructor accepts arguments for year, month, and day. Python defaults to 0 for any missing values.
- The `datetime` constructor accepts arguments for year, month, day, hour, minute, and second.

In [ ]:
import datetime as dt

In [ ]:
now = dt.datetime.today()
print(now)

In [ ]:
date = dt.date(2025, 1, 6)

In [ ]:
date.year

In [ ]:
date.month

In [ ]:
date.day

In [ ]:
other_date = dt.datetime(2025, 1, 6, 18, 30, 0)
other_date.year

In [ ]:
other_date.month

In [ ]:
other_date.second

In [ ]:
other_date.hour

## The Timestamp and DatetimeIndex Objects

- Pandas ships with several classes related to datetimes.
- The **Timestamp** is similar to Python's **datetime** object (but with expanded functionality).
- A **DatetimeIndex** is an index of **Timestamp** objects.
- The **Timestamp** constructor accepts a string, a **datetime** object, or equivalent arguments to the **datetime** clas.

In [ ]:
date = pd.Timestamp(2025, 1, 6, 18, 30, 0)

In [ ]:
date.second

In [ ]:
date.minute

In [ ]:
date.hour

In [ ]:
date = pd.Timestamp('2025-01-06 18:30:33')

In [ ]:
print(date)

In [ ]:
date.second

## Create Range of Dates with pd.date_range Function
- The `date_range` function generates and returns a **DatetimeIndex** holding a sequence of dates.
- The function requires 2 of the 3 following parameters: `start`, `end`, and `period`.
- With `start` and `end`, Pandas will assume a daily period/interval.
- Every element within a **DatetimeIndex** is a **Timestamp**.

In [26]:
pd.date_range(start='2025-01-05', end='2025-02-05', freq='D')

DatetimeIndex(['2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
               '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
               '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
               '2025-01-29', '2025-01-30', '2025-01-31', '2025-02-01',
               '2025-02-02', '2025-02-03', '2025-02-04', '2025-02-05'],
              dtype='datetime64[ns]', freq='D')

In [28]:
pd.date_range(start='2025-01-05', end='2025-02-05', freq='B')

DatetimeIndex(['2025-01-06', '2025-01-07', '2025-01-08', '2025-01-09',
               '2025-01-10', '2025-01-13', '2025-01-14', '2025-01-15',
               '2025-01-16', '2025-01-17', '2025-01-20', '2025-01-21',
               '2025-01-22', '2025-01-23', '2025-01-24', '2025-01-27',
               '2025-01-28', '2025-01-29', '2025-01-30', '2025-01-31',
               '2025-02-03', '2025-02-04', '2025-02-05'],
              dtype='datetime64[ns]', freq='B')

In [34]:
pd.date_range(start='2025-01-05', end='2025-02-05', freq='2d')

DatetimeIndex(['2025-01-05', '2025-01-07', '2025-01-09', '2025-01-11',
               '2025-01-13', '2025-01-15', '2025-01-17', '2025-01-19',
               '2025-01-21', '2025-01-23', '2025-01-25', '2025-01-27',
               '2025-01-29', '2025-01-31', '2025-02-02', '2025-02-04'],
              dtype='datetime64[ns]', freq='2D')

In [38]:
pd.date_range(start='2025-01-05', end='2025-02-05', freq='W-FRI')

DatetimeIndex(['2025-01-10', '2025-01-17', '2025-01-24', '2025-01-31'], dtype='datetime64[ns]', freq='W-FRI')

In [39]:
pd.date_range(start='2025-01-05', freq='W', periods=10)

DatetimeIndex(['2025-01-05', '2025-01-12', '2025-01-19', '2025-01-26',
               '2025-02-02', '2025-02-09', '2025-02-16', '2025-02-23',
               '2025-03-02', '2025-03-09'],
              dtype='datetime64[ns]', freq='W-SUN')

In [40]:
pd.date_range(end='2025-01-05', freq='W', periods=10)

DatetimeIndex(['2024-11-03', '2024-11-10', '2024-11-17', '2024-11-24',
               '2024-12-01', '2024-12-08', '2024-12-15', '2024-12-22',
               '2024-12-29', '2025-01-05'],
              dtype='datetime64[ns]', freq='W-SUN')

In [44]:
pd.date_range(start='2025-01-05', freq='YE', periods=10)

DatetimeIndex(['2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31',
               '2033-12-31', '2034-12-31'],
              dtype='datetime64[ns]', freq='YE-DEC')

In [45]:
pd.date_range(start='2000-02-29', freq='W', periods=10)

DatetimeIndex(['2000-03-05', '2000-03-12', '2000-03-19', '2000-03-26',
               '2000-04-02', '2000-04-09', '2000-04-16', '2000-04-23',
               '2000-04-30', '2000-05-07'],
              dtype='datetime64[ns]', freq='W-SUN')

In [50]:
pd.date_range(start='2000-02-29', freq='YE', periods=10)

DatetimeIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31'],
              dtype='datetime64[ns]', freq='YE-DEC')

In [62]:
pd.date_range(start='2000-02-29', end='2050-02-28', freq='24D 8h 20min 45s')

DatetimeIndex(['2000-02-29 00:00:00', '2000-03-24 08:20:45',
               '2000-04-17 16:41:30', '2000-05-12 01:02:15',
               '2000-06-05 09:23:00', '2000-06-29 17:43:45',
               '2000-07-24 02:04:30', '2000-08-17 10:25:15',
               '2000-09-10 18:46:00', '2000-10-05 03:06:45',
               ...
               '2049-07-22 16:15:45', '2049-08-16 00:36:30',
               '2049-09-09 08:57:15', '2049-10-03 17:18:00',
               '2049-10-28 01:38:45', '2049-11-21 09:59:30',
               '2049-12-15 18:20:15', '2050-01-09 02:41:00',
               '2050-02-02 11:01:45', '2050-02-26 19:22:30'],
              dtype='datetime64[ns]', length=751, freq='2103645s')

## The dt Attribute
- The `dt` attribute reveals a `DatetimeProperties` object with attributes/methods for working with datetimes. It is similar to the `str` attribute for string methods.
- The `DatetimeProperties` object has attributes like `day`, `month`, and `year` to reveal information about each date in the **Series**.
- The `day_name` method returns the written day of the week.
- Attributes like `is_month_end` and `is_quarter_start` return Boolean **Series**.

In [72]:
bunch_of_weeks = pd.Series(pd.date_range(start='2000-01-01', end='2025-01-01', freq='2D'))
bunch_of_weeks

0      2000-01-01
1      2000-01-03
2      2000-01-05
3      2000-01-07
4      2000-01-09
          ...
4562   2024-12-24
4563   2024-12-26
4564   2024-12-28
4565   2024-12-30
4566   2025-01-01
Length: 4567, dtype: datetime64[ns]

In [73]:
bunch_of_weeks.dt.day

0        1
1        3
2        5
3        7
4        9
        ..
4562    24
4563    26
4564    28
4565    30
4566     1
Length: 4567, dtype: int32

In [74]:
bunch_of_weeks.dt.year

0       2000
1       2000
2       2000
3       2000
4       2000
        ...
4562    2024
4563    2024
4564    2024
4565    2024
4566    2025
Length: 4567, dtype: int32

In [75]:
bunch_of_weeks.dt.hour

0       0
1       0
2       0
3       0
4       0
       ..
4562    0
4563    0
4564    0
4565    0
4566    0
Length: 4567, dtype: int32

In [76]:
bunch_of_weeks.dt.day_name()

0        Saturday
1          Monday
2       Wednesday
3          Friday
4          Sunday
          ...
4562      Tuesday
4563     Thursday
4564     Saturday
4565       Monday
4566    Wednesday
Length: 4567, dtype: object

In [77]:
bunch_of_weeks.dt.weekday

0       5
1       0
2       2
3       4
4       6
       ..
4562    1
4563    3
4564    5
4565    0
4566    2
Length: 4567, dtype: int32

In [81]:
bunch_of_weeks.dt.hour

0       0
1       0
2       0
3       0
4       0
       ..
4562    0
4563    0
4564    0
4565    0
4566    0
Length: 4567, dtype: int32

## Selecting Rows from a DataFrame with a DateTimeIndex
- The `iloc` accessor is available for index position-based extraction.
- The `loc` accessor accepts strings or **Timestamps** to extract by index label/value. Note that Python's `datetime` objects will not work.
- Use list slicing to extract a sequence of dates. The `truncate` method is another alternative.

## The DateOffset Object
- A **DateOffset** object adds time to a **Timestamp** to arrive at a new **Timestamp**.
- The **DateOffset** constructor accepts `days`, `weeks`, `months`, `years` parameters, and more.
- We can pass a **DateOffset** object to the `freq` parameter of the `pd.date_range` function.

## Specialized Date Offsets
- Pandas nests more specialized date offsets in `pd.tseries.offsets`.
- We can add a different amount of time to each date (for example, month end, quarter end, year begin)

## Timedeltas
- A **Timedelta** is a pandas object that represents a duration (an amount of time).
- Subtracting two **Timestamp** objects will yield a **Timedelta** object (this applies to subtracting a **Series** from another **Series**).
- The **Timedelta** constructor accepts parameters for time as well as string descriptions.