# Options and Settings

In [2]:
import pandas as pd
import numpy as np

## Changing Options with Attributes
- The `pd.options` module configures Pandas' settings.
- The `display` module deals with the presentation of data.
- The `min_rows` attribute sets the minimum number of displayed rows when `max_rows` is exceeded.
- The `max_columns` attribute sets the maximum number of displayed columns. There is no `min_columns` attribute.
- Overwrite an attribute's value with an equal sign and the new value.

## Changing Options with Functions
- The **pd.get_option** function retrieves the current value for a pandas setting.
- The **pd.set_option** function sets a new value for a pandas setting.
- The **pd.describe_option** function provides documentation for a pandas setting.
- The **pd.reset_option** function returns a pandas setting back to its default value.

## The precision Option
- The `display.precision` option sets the number of digits that appears after a decimal point in a floating-point number.
- The default value is 6.

In [15]:
ibm = pd.read_csv('ibm.csv', parse_dates=['Date'], index_col=0)
ibm

                 Open       High        Low      Close        Volume
Date
1962-01-02    5.04610    5.04610    4.98716    4.98716  5.935630e+05
1962-01-03    4.98716    5.03292    4.98716    5.03292  4.451750e+05
1962-01-04    5.03292    5.03292    4.98052    4.98052  3.995136e+05
1962-01-05    4.97389    4.97389    4.87511    4.88166  5.593215e+05
1962-01-08    4.88166    4.88166    4.75059    4.78972  8.332738e+05
...               ...        ...        ...        ...           ...
2023-10-05  140.90000  141.70000  140.19000  141.52000  3.223910e+06
2023-10-06  141.40000  142.94000  140.11000  142.03000  3.511347e+06
2023-10-09  142.30000  142.40000  140.68000  142.20000  2.354396e+06
2023-10-10  142.60000  143.41500  141.72000  142.11000  3.015784e+06
2023-10-11  142.51000  143.34000  142.14000  143.23000  2.511459e+06

[15546 rows x 5 columns]

In [21]:
pd.options.display.precision

6

In [22]:
pd.options.display.precision = 2

In [23]:
ibm

              Open    High     Low   Close    Volume
Date
1962-01-02    5.05    5.05    4.99    4.99  5.94e+05
1962-01-03    4.99    5.03    4.99    5.03  4.45e+05
1962-01-04    5.03    5.03    4.98    4.98  4.00e+05
1962-01-05    4.97    4.97    4.88    4.88  5.59e+05
1962-01-08    4.88    4.88    4.75    4.79  8.33e+05
...            ...     ...     ...     ...       ...
2023-10-05  140.90  141.70  140.19  141.52  3.22e+06
2023-10-06  141.40  142.94  140.11  142.03  3.51e+06
2023-10-09  142.30  142.40  140.68  142.20  2.35e+06
2023-10-10  142.60  143.41  141.72  142.11  3.02e+06
2023-10-11  142.51  143.34  142.14  143.23  2.51e+06

[15546 rows x 5 columns]