In [ ]:
import pandas as pd
import numpy as np

## What is Series ?

In [ ]:
car1 = ['BMW', 'Audi', 'Opel', 'VW', 'Mercedes-Benz', 'Honda', 'Subaru', 'Toyota', 'Skoda']

In [ ]:
pd.Series(car1)

In [ ]:
car2 = {
    'Mercedes-Benz': 'CLS',
    'BMW': 'M5 CS',
    'Audi': 'RS 7',
    'Opel': 'Vectra',
    'Toyota': 'Yaris',
    'Subaru': 'Impreza',
    'Honda': 'CIVIC',

    
}

In [ ]:
pd.Series(car2)

In [ ]:
numpy_array = np.array([10, 20, 30, 40, 50])

In [ ]:
pd.Series(numpy_array)

## What is DataFrame ?

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
data = [10, 20, 30, 40, 50]
pd.DataFrame(data, columns=['Numbers'])

In [ ]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
pd.DataFrame(data)

## Basic Operations on DataFrames

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
nba.head(10)

In [ ]:
nba.tail(10)

In [ ]:
nba.info()

In [ ]:
nba.describe()

In [ ]:
nba.loc[5]

In [ ]:
nba.iloc[5:9]

In [ ]:
nba = pd.read_csv('nba.csv', index_col='Name')
nba

In [ ]:
nba.loc['Saddiq Bey']

In [ ]:
nba.loc['Saddiq Bey': 'Trent Forrest']

## Data Cleaning and Preprocessing in Pandas

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
nba.dropna(how='any')

In [ ]:
nba.dropna(how='all')

In [ ]:
nba['Salary'] = nba['Salary'].fillna(value=0)
nba

In [ ]:
nba['College'] = nba['College'].fillna(value='Uknown')
nba

In [ ]:
nba['Salary'] = nba['Salary'].astype('int64')
nba

## Data Analysis in Pandas

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
nba.sort_values(by='Name', ascending=True)

In [ ]:
nba.sort_values(by=['Salary', 'Team'], ascending=False, na_position='first')

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
nba = nba.sort_values(by=['Salary', 'Name'], ascending=[False, True], na_position='last')
nba

In [ ]:
nba = pd.read_csv('nba.csv')
nba

In [ ]:
nba.sort_index(ascending=False)

In [ ]:
food = pd.read_csv('restaurant_foods.csv')
customers = pd.read_csv('restaurant_customers.csv')
week1 = pd.read_csv('restaurant_week_1_sales.csv')
week2 = pd.read_csv('restaurant_week_2_sales.csv')